<!DOCTYPE html>
<html>
  <head>
    <title>DND Encounter add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      <h2>Додати гравця</h2>
      <div>
        <label for="name">Ім'я</label><br />
        <input id="name" name="name" type="text" required /><br />
        <label for="initative">Ініціатива</label><br />
        <input
          id="initative"
          name="initative"
          type="number"
          min="1"
          required
        /><br />
        <label for="speed">Speed</label><br />
        <input id="speed" name="speed" type="number" min="1" required /><br />
        <label for="hp">HP max</label><br />
        <input id="hp" name="hp" type="number" min="1" required /><br />
        <label for="level">level</label><br />
        <input id="level" name="level" type="number" min="1" required /><br />
        <label for="img">Зображення</label><br />
        <label class="file-input-wrapper">
          <input type="file" class="real-input" name="img" accept="image/*" />
          <span class="custom-button">Обрати Зображення</span>
        </label>
      </div>
      <input id="submit" name="submit" type="submit" value="Створити" />
    </form>
  </body>
</html>
