<!DOCTYPE html>
<html>
  <head>
    <title>DND Encounter <st</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="encounter">
      <div class="player">
        <img
          src="https://www.shutterstock.com/image-vector/dice-d20-playing-dnd-king-600nw-2404818815.jpg"
          height="90"
        />
        <a class="lv">3</a>
        <table>
          <tr>
            <th>
              <a class="small">AC</a>
            </th>
            <th>
              <a class="small">HP</a>
            </th>
            <th>
              <a class="small">Speed</a>
            </th>
          </tr>
          <tr>
            <th>
              <a class="big">16</a>
            </th>
            <th>
              <a class="big hp">46<a class="tpHP">+2</a></a>
            </th>
            <th>
              <a class="big">30</a>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
