<!DOCTYPE html>
<html>
  <head>
    <title>DND Encounter <st</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="selected">

      <img
          src="https://www.shutterstock.com/image-vector/dice-d20-playing-dnd-king-600nw-2404818815.jpg"
          height="360"
        />
        <a class="lv" >3</a>
        <a class="name1">
          Барн
        </a>
        <table>
          <tr>
            <th>
              <a class="small">AC</a>
            </th>
            <th>
              <a class="small">HP</a>
            </th>
            <th>
              <a class="small">Speed</a>
            </th>
          </tr>
          <tr>
            <th>
              <a class="big">16</a>
            </th>
            <th>
              <a class="big hp">46<a class="tpHP">+2</a></a>
            </th>
            <th>
              <a class="big">30</a>
            </th>
          </tr>
        </table>
    </div>
    <div class="encounter">
      <div class="player">
        
        <img
          src="https://www.shutterstock.com/image-vector/dice-d20-playing-dnd-king-600nw-2404818815.jpg"
          height="180"
        />
        <a class="lv" >3</a>
        <table>
          <tr> 
            <th>
              <a class="small">AC</a>
            </th>
            <th>
              <a class="small">HP</a>
            </th>
            <th>
              <a class="small">Speed</a>
            </th>
          </tr>
          <tr>
            <th>
              <a class="big">16</a>
            </th>
            <th>
              <a class="big hp">46<a class="tpHP">+2</a></a>
            </th>
            <th>
              <a class="big">30</a>
            </th>
          </tr>
          <a class="name">
            Барн
          </a>
        </table>
        <div class="arrow-up"></div>
      </div>
    </div>
  </body>
</html>
